pip
certifi
ta
numpy
pandas
pandas_datareader
#pandas_profiling
matplotlib
seaborn
pydeck
plotly
altair<5
yfinance
mplfinance
datetime
prophet
scikit-learn
tensorflow
streamlit>1.49.0
streamlit_folium
streamlit_image_coordinates
